# Python
__pycache__/
*.py[cod]
env/
.env
.env.js
.venv
*.db
*.log
uv.lock

# IDE
.idea/
.vscode/
*.iml

# System
.DS_Store
Thumbs.db

# WeChat Miniprogram
node_modules/
miniprogram_npm/
miniprogram/project.private.config.json

# Vercel
.vercel/
